WingtipToys/Service References/SecretServiceReference/SecretService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecretService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55055/SecretService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55055/SecretService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55055/SecretService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecretService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISecretService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretService_GetSecretCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretCode" />
  </wsdl:message>
  <wsdl:message name="ISecretService_GetSecretCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretService_GetClientSecretCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientSecretCode" />
  </wsdl:message>
  <wsdl:message name="ISecretService_GetClientSecretCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientSecretCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecretService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretService/DoWork" message="tns:ISecretService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretService/DoWorkResponse" message="tns:ISecretService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecretCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretService/GetSecretCode" message="tns:ISecretService_GetSecretCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretService/GetSecretCodeResponse" message="tns:ISecretService_GetSecretCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientSecretCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretService/GetClientSecretCode" message="tns:ISecretService_GetClientSecretCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretService/GetClientSecretCodeResponse" message="tns:ISecretService_GetClientSecretCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecretService" type="tns:ISecretService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISecretService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretCode">
      <soap:operation soapAction="http://tempuri.org/ISecretService/GetSecretCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientSecretCode">
      <soap:operation soapAction="http://tempuri.org/ISecretService/GetClientSecretCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecretService">
    <wsdl:port name="BasicHttpBinding_ISecretService" binding="tns:BasicHttpBinding_ISecretService">
      <soap:address location="http://localhost:55055/SecretService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>